footer

  nav
    +clearfix
    background: white
    text-align: center

    h3
      color: $blue
      margin: 0
      cursor: pointer

    ul
      +size(100% 0)
      position: static
      overflow: hidden

      li
        float: none
        padding: 0
        margin: 10px 0 0 0

        &:nth-child(3), &:nth-child(6)
          margin: 10px 0 0 0

      a
        &:hover
          text-decoration: none

.footer-open
  height: 141px