nav
  width: 100%
  font-family: arial
  background-color: $blue
  padding: 20px
  +clearfix

  .container

  ul
    padding: 0
    height: 18px
    margin: 0
    position: absolute
    bottom: 12px
    +clearfix

    li
      display: block
      margin: 0 60px 0 0
      float: left

      &:nth-child(3)
        margin: 0 440px 0 0

      &:nth-child(6)
        margin: 0

.sub-navigation
  margin-bottom: 60px
  text-align: center
  background-color: #E5EBEE

  ul
    display: inline-block
    height:  60px
    margin: 0
    padding: 0

    li
      float: left
      height: 60px
      width: auto
      margin: 0

      a
        color: #133944
        text-decoration: none
        line-height: 60px
        padding: 0 15px
        &:hover
          text-decoration: underline

// Logo

.logo
  +size(82px 41px)
  position: relative
  margin: auto

.hamburger
  position: relative
  float: right
  bottom: 13px
  right: 20px

  span
    font-family: "entypo"
    font-size: 70px
    color: white
    display: none
    line-height: 1
    // not setting line-height explicitely on icon fonts will caus eissues in some browers




