$blue: #124385

@import bourbon/bourbon
+font-face (entypo, '/fonts/entypo')
@import navigation

*
  box-sizing: border-box

body
  font-family: Georgia
  padding: 0
  margin: 0

.container
  position: relative
  max-width: 1000px
  width: 96%
  margin: 0 auto
  +clearfix

.left
  float: left

.right
  float: right

.read-more-container
  margin-top: 30px
  height: 400px
  overflow: hidden
  line-height: 1.5

  h2
    margin-top: 20px
    font-size: 16px
    text-transform: uppercase
    letter-spacing: 0.01em

ul
  list-style: none

// Buttons
.button
  background-color: #1E344C
  padding: 10px
  color: white
  margin-top: 10px
  text-decoration: none

// Headings

h1
  font-size: 20px

h3
  font-size: 14px
  color: #133944


// Image section

.images-container
  margin-top: 50px
  overflow: hidden

.first-image, .second-image, .third-image
  float: left
  width: 30%
  margin-right: 5%
  img
    max-width: 100%

.third-image
  margin-right: 0

.image-container
  height: 150px
  margin-bottom: 20px
  overflow: hidden

// Lightbox
.lightbox
  background-color: rgba(0,0,0,0.7)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  .lightboxImage
    position: absolute
    left: 30%
    top: 30%
    border: 10px solid white


// Footer

footer
  font-family: arial
  overflow: hidden
  font-size: 12px
  background-color: #E5EBEE
  margin-top: 50px
  padding-top: 20px
  nav
    float: left
    width: 25%
    margin-bottom: 20px
  h3
    text-transform: uppercase
    margin-bottom: 20px
  ul
    margin: 0
    padding: 0

    li
      margin: 0
      display: block
      padding: 10px 0
  a
    text-decoration: none
    color: #1E344C
    &:hover
      text-decoration: underline






@import media_queries
