- left_navigation = ['Home', 'Destinations', 'Shop']
- right_navigation = ['Hotels', 'Flights', 'Contact']
- sub_navigation = ['Images', 'Video', 'Games']
/ seperated into 2 ul's to be more fluid

%nav
  .container
    %ul.nav-left
      - left_navigation.each do |item|
        %li
          %a{href: '#'}
            = item
    .logo
      %img{src: "images/logo.png"}
    %ul.nav-right
      - right_navigation.each do |item|
        %li
          %a{href: '#'}
            = item

.sub-navigation
  %ul
    - sub_navigation.each do |item|
      %li
        %a{href: '#'}
          = item
