@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@font-face {
  font-family: entypo;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/entypo.eot");
  src: url("/fonts/entypo.eot?#iefix") format("embedded-opentype"), url("/fonts/entypo.woff") format("woff"), url("/fonts/entypo.ttf") format("truetype"), url("/fonts/entypo.svg#entypo") format("svg");
}

nav {
  width: 100%;
  background-color: #124385;
  padding: 20px;
  *zoom: 1;
}
nav:before, nav:after {
  content: " ";
  display: table;
}
nav:after {
  clear: both;
}
nav ul {
  padding: 0;
  height: 18px;
  margin: 0;
  position: absolute;
  bottom: 12px;
  *zoom: 1;
  -webkit-transition: height, 0.4s;
  -moz-transition: height, 0.4s;
  transition: height, 0.4s;
}
nav ul:before, nav ul:after {
  content: " ";
  display: table;
}
nav ul:after {
  clear: both;
}
nav ul li {
  display: block;
  margin: 0 60px 0 0;
  float: left;
}
nav ul li:nth-child(3) {
  margin: 0 440px 0 0;
}
nav ul li:nth-child(6) {
  margin: 0;
}

.sub-navigation {
  margin-bottom: 60px;
  text-align: center;
  background-color: #e5ebee;
}
.sub-navigation ul {
  display: inline-block;
  height: 60px;
  margin: 0;
  padding: 0;
}
.sub-navigation ul li {
  float: left;
  height: 60px;
  width: auto;
  margin: 0 15px 0 0;
}
.sub-navigation ul li:last-child {
  margin: 0;
}
.sub-navigation ul li a {
  color: #133944;
  text-decoration: none;
  line-height: 60px;
}

.logo {
  width: 82px;
  height: 41px;
  position: relative;
  margin: auto;
}

.hamburger {
  position: relative;
  float: right;
  bottom: 13px;
  right: 20px;
}
.hamburger span {
  font-family: "entypo";
  font-size: 70px;
  color: white;
  display: none;
  line-height: 1;
}

.open-nav {
  height: 210px;
}

footer nav {
  *zoom: 1;
  background: white;
  text-align: center;
}
footer nav:before, footer nav:after {
  content: " ";
  display: table;
}
footer nav:after {
  clear: both;
}
footer nav h3 {
  color: #124385;
  margin: 0;
  cursor: pointer;
}
footer nav ul {
  width: 100%;
  height: 0px;
  position: static;
  overflow: hidden;
}
footer nav ul li {
  float: none;
  padding: 0;
  margin: 10px 0 0 0;
}
footer nav ul li:nth-child(3), footer nav ul li:nth-child(6) {
  margin: 10px 0 0 0;
}
footer nav ul a:hover {
  text-decoration: none;
}

.footer-open {
  height: 141px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "lato";
  color: #133944;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 28px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

button {
  border-radius: 2px;
  background-color: #1e344c;
  padding: 10px;
  color: white;
  margin: 15px 0;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button.readmore {
  margin: 15px 0 30px 0;
}
button.readmore a:hover {
  border: none;
}
button.readmore:hover {
  background: #124385;
}

ul {
  list-style: none;
}

a {
  color: white;
  padding: 0 0 2px 0;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px dotted;
}

img {
  border-radius: 2px;
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  max-width: 1000px;
  width: 96%;
  margin: 0 auto;
  *zoom: 1;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.read-more-container {
  margin: 30px 0 0;
  overflow: hidden;
  line-height: 1.5;
}
.read-more-container h2 {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}
.read-more-container article {
  padding: 0 0 5px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px dotted;
}

.feature-image {
  float: left;
  margin: 0 5% 30px 0;
  width: 30%;
}
.feature-image:nth-child(3) {
  margin: 0 0 30px 0;
}

.image-container {
  cursor: pointer;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}
.image-container img {
  min-height: 100%;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lightbox span {
  font-family: "entypo";
  font-size: 42px;
  position: absolute;
  left: 949px;
  top: 215px;
  cursor: pointer;
}
.lightbox .lightboxImage {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25% 0 0 -37.5%;
  border: 10px solid white;
  width: 75%;
  height: auto;
}

footer {
  font-family: arial;
  overflow: hidden;
  font-size: 12px;
  background-color: #e5ebee;
  margin-top: 50px;
  padding-top: 20px;
}
footer nav {
  float: left;
  width: 25%;
  margin-bottom: 20px;
}
footer h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0;
  display: block;
  padding: 10px 0;
}
footer a {
  text-decoration: none;
  color: #1e344c;
}
footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  nav .logo {
    margin: 0 auto 20px;
  }
  nav ul {
    position: relative;
    bottom: 0;
    width: 620px;
    margin: auto;
  }
  nav ul li {
    margin: 0 60px 0 0;
  }
  nav ul li:nth-child(3) {
    margin: 0 60px 0 0;
  }
}
@media screen and (max-width: 800px) {
  .feature-image {
    float: none;
    width: 100%;
    margin: 0 0 30px 0;
  }

  .image-container {
    width: 60%;
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 675px) {
  nav ul {
    width: 419px;
  }
  nav ul li {
    margin: 0 20px 0 0;
  }
  nav ul li:nth-child(3) {
    margin: 0 20px 0 0;
  }
}
@media screen and (max-width: 475px) {
  nav ul {
    width: 100%;
    height: 0px;
    margin: 0;
    overflow: hidden;
    text-align: center;
  }
  nav ul li {
    width: 100%;
    margin: 15px 0 0 0;
    float: none;
  }
  nav ul li:nth-child(3), nav ul li:nth-child(6) {
    margin: 15px 0 0 0;
  }
  nav .hamburger span {
    position: absolute;
    display: block;
    cursor: pointer;
  }
  nav .logo {
    *zoom: 1;
    margin: 0;
    float: left;
  }
  nav .logo:before, nav .logo:after {
    content: " ";
    display: table;
  }
  nav .logo:after {
    clear: both;
  }

  .image-container {
    width: 100%;
  }

  footer nav {
    float: none;
    width: 100%;
  }
}
